
#background{
  background: linear-gradient(#111111 600px, #f7f7f7 0px);
}
.promocao{
  background-color: #FFD600;
  filter: drop-shadow(0px 2px 10px rgba(0, 0, 0, 0.25));
  padding: 100px;
  margin-bottom: 100px;
  border-radius: 4px;
}
.promocao-bg .h1{
  font-size: 3rem;
  color: #000000;
  text-align: center;
  margin-bottom: 50px;
  font-family: "Livvic";
}
.promocao-bg .p{
  
  color: #615100;
  font-size: 2rem;
  
  font-family: 'Sarabun';

  
}
.citacao p{
  font-size: 1.4rem;
  color: #695800;
  margin-top: 40px;
  text-align: right;
  font-weight: 500;
  font-family: "Sarabun";
}

@media(max-width:700px){
  #background{
    background: linear-gradient(#111111 400px, #f7f7f7 0px);
  }
  .promocao{
    padding: 40px;
  }
  .promocao-bg .h1{
    font-size: 2.4rem;
  }
  .promocao-bg .p{
    font-size: 1.5rem;
  }
}
@media(max-width:400px){
  
  .promocao{
    padding: 20px;
  }
  .promocao-bg .h1{
    font-size: 1.8rem;
    margin-bottom: 28px;
    
  }
  .promocao-bg .p{
    font-size: 1.4rem;
  }
}